body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(240,240,240);
    overflow: hidden;
}
header{
    position: fixed;
    top: 0;
    left: calc(50% - (375px/2));
    width: 375px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    padding: 0 19px;
    background-color: #FFFFFF;
}

.login{
    width: 100%;
    height: 100%;
    background-color: rgb(240,240,240);
    display: flex;
    justify-content: center;
}
.login-area{
    width: 375px;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    border-radius: 9px;
}
.login-area img{
    width: 130px;
    height: 92px;
    margin-top: 20vh;
}
.login-area input{
    margin-top: 50px;
    width: 261px;
    height: 54px;
    border: 1px solid #D7D7D7;
    color: #AEAEAE;
    font-size: 18px;
    border-radius: 4px;
    text-align: center;
    outline: 0;
}
.login-area button{
    margin-top: 20px;
    width: 109px;
    height: 45px;
    border: 0;
    background-color: #E7E7E7;
    font-size: 18px;
    border-radius: 9px;
    cursor: pointer;
}
.login-area button:hover{
    background-color: #CCCCCC;
}

.container{
    width: 375px;
    height: 100%;
    margin: 0 auto;
    background-color: #F3F3F3;
}

.logo{
    width: 75px;
    height: 53px;
}
.icon_people{
    width: 45px;
    height: 45px;
}

main{
    height: 100vh;
    padding: 80px 0;
}

.msgs{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.msgs::-webkit-scrollbar{
    width: 5px;
}
.msgs::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #CCCCCC;
}

.msg{
    width: 100%;
    height: auto;
    font-size: 14px;
    display: flex;
    padding: 15px 10px;
    margin: 5px 0;
    background-color: #FFFFFF;
}
.msg .send-time{
    color: #AAAAAA;
    margin-right: 7px;
}
.msg .name-user{
    font-weight: 700;
}
.text{
    line-height: 1.5;
}
.reserved-msg{
    background-color: #FFDEDE;
}
.status-msg{
    background: #DCDCDC;
}

footer{
    position: fixed;
    bottom: 0%;
    left: calc(50% - (375px/2));
    width: 375px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 27px 0 17px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}

footer button{
    border: 0;
    cursor: pointer;
    background-color: #FFFFFF;
}
footer button img{
    width: 26px;
    height: 26px;
}
footer input{
    width: 260px;
    border: 0;
    outline: 0;
}